// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Bootstrap Datetimepicker
@import "node_modules/eonasdan-bootstrap-datetimepicker/src/sass/bootstrap-datetimepicker";

.deleteBtn {
  display: inline-block;
}

.background-hotelroom {
  position: fixed;
  top: -100;
  left: 0;
  min-width: 100%;
  z-index: -1;
}

.label-left {
  text-align: left !important;
}

.roomtype-img {
  max-height: 132.75px;
  width: 100%;
  object-fit: cover;
}